body{
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items:center;
    background-color:black;
    background-image: url("./asset/JYf8BYc.jpeg");
    background-attachment: fixed;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}

h1{
    font-size: 60px;
    color:rgb(19, 239, 71);
    text-align:center;
}

button{
    border-radius: 5%;
    font-weight: 900;
    background-color: #333333;
    font-size: 40px;
}

button:hover {
    background-color: darkblue;
 }

 button:active{
    background-color: darkorange;
    box-shadow: 0 5px gray;
    transform: translateY(2px);
 }

.container{
    display: flex;
    flex-flow: column;
    height: 500px;
    width: 600px;
    border: 5px solid darkblue;
    background-color: rgb(0,0,0,0.7);
    
}

#display{
    height:100px;
    font-size: 60px;
    border-bottom: 5px solid darkblue;
    background-color: rgb(0,0,0,0.5);
    text-align: end;
    color: rgb(19, 239, 71);
    font-weight: 900;
    flex: 0 0 auto;
}

#buttons{
    display:flex;
    flex: 1;
    justify-content:space-around;
    margin:10px;
    gap: 10px;
}

#operators{
    display: flex;
    flex-flow: column;
    flex:2;
    gap:10px;
}

.row{
    display:flex;
    gap:10px;
    flex: 1
}

#clear{
    color: red;
    border: 1px solid red;
}
.row button{
    flex: 1;
    border: 1px solid rgb(19, 239, 71);

    color:rgb(19, 239, 71);
}



#left{
    display: flex;
    flex-flow: column;
    flex: 2;
    gap:10px;
}

#right{
    display: flex;
    flex-flow: column;
    flex:1;
    gap:10px;
}

#right button{
    flex:1;
    color:yellow;
    border: 1px solid yellow;
}

#del{
    flex:1;
    font-size: 30px;
}

#equal{
    flex: 1;
}

#pnSwitch{
    flex: 1
}